@mixin f500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin f700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@mixin title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  display: block;
  text-align: center;
  margin-bottom: 70px;
}
@mixin foottitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: $white;
  padding-bottom: 60px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 52px;
    left: 0;
    width: 51px;
    height: 3px;
    background: $green;
  }
}

