.author {
  background: url(../images/bg-banner.jpg) center no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 620px;
    width: 100%;
    min-height: 215px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: $white;
    margin-right: 45px;
    max-width: 265px;
    span {
      @include f700;
    }
  }
  &__link {
    max-width: 225px;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background: $white;
  }
}