#modal {
  background-color: $green;
  max-width: 730px;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
}

.login__title {
  text-align: center;
  font-size: 48px;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 40px;
  @include f700;
}

.login__wrap {
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  label {
    position: relative;
    display: block;
    width: 100%;
    &::before {
      position: absolute;
      font-family: 'icomoon';
      font-size: 14px;
      color: #fff;
      left: 18px;
      top: 9px;
    }
  }
  .login__label-name::before {
    content: "\f007";
  }
  .login__label-password::before {
    content: "\f023";
  }
  input {
    height: 43px;
    margin-bottom: 8px;
    border: none;
    background-color: #76ae36;
    color: #fff;
    font-size: 14px;
    padding-left: 40px;
    display: block;
    width: 100%;
    &::placeholder {
      color: #fff;
      font-size: 14px;
    }
  }

  button {
    margin-top: 19px;
    padding: 18px 0 16px;
    background-color: #fff;
    width: 140px;
    text-transform: uppercase;
    border: none;
    margin-right: 10px;
    @include f700;
    color: #000;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
  }
  
}

.creat-acc {
  margin-top: 19px;
  padding: 15px 0 15px 28px;
  text-align: center;
  width: 240px;
  background-color: #76ae36;
  color: #fff;
  font-size: 18px;
  position: relative;
  &::before {
    content: '\f044';
    font-family: 'icomoon';
    position: absolute;
    left: 35px;
    top: 15px;

  }
}

.lost-pass {
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.fancybox-button svg path {
  fill: #fff;
}




